body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: black;
}

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.slideshow {
  position: absolute;
  top: 50%;
  margin-top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 333px;
  overflow: hidden;
  border-radius: 10px;
  border: 8px solid black;
  outline: 12px solid #222;
}

.slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1.5s ease, transform 1.5s ease;
  transform-origin: center center;
}

.slideshow img.fade-out {
  opacity: 0;
  transform: scale(1.2);
}

.slideshow img.fade-in {
  opacity: 1;
  transform: scale(1);
  z-index: 1;
}

@media (max-width: 768px) {
  .slideshow {
    width: 80%;
    top: 50%;
  }
}